
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


:root {
  --font-heading: 'Sora', sans-serif;
  --font-body: 'Manrope', sans-serif;

  --primary: #5454AB;
  --primary-light: #7979D1;
  --background-gray: #F4F4F7;
  --text-gray: #333333;
  --light-gray: #777777;
}


/* Fonts */
body {
  font-family: 'Manrope', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sora', sans-serif;
}

